@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Prompt:wght@100;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*
colors:
eggshell #EEE6D3
cardinal red #C33149 ^^ #DE7C8D
muted pink #EB9C99
muted dark blue #454B66 ^^ #6D769C
muted light blue #AC9FBB  vvvv #5B4C6B
*/

.App {
  
  
  
}

.big-title {
  padding: 20px 0 20px 20px;
  font-family: 'Pacifico', cursive;
  font-size: 68px;
  line-height: 75px;
  background-color: #AC9FBB;
  text-shadow: 2px 2px #454B66;
}

.header-number {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #C33149;
  margin-right: 15px;
}
.header-number.item-seen {
  background-color: #EB9C99;
  color:#292230;
}

.input-block {
  display: block;
  background-color: #6D769C;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 0 0 15px 15px;
}

.grey-box {
  background-color: #292230;
  border-radius: 15px;
}



.App-wrapper {
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  margin: auto;
  width: 66vw;
  background-color: #454B66;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #EEE6D3;
}

.El-header {
  padding: 20px;
}

.El-content {
  padding: 20px;
  background-color: #292230;
  border-radius: 0 0 15px 15px;
}

.App-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
}

.App-link {
  color: #61dafb;
}
.content-hidden{
  display:none;
}
.content-active{
  display: block;
}

.prompt {
  font-size: 16px;
  font-weight: 400;
}

input, button {
  margin: 0 4px;
}

